.transaction-container {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.75rem;
  overflow-x: auto;
}

.transaction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.add-buttom {
  font-weight: 500;
  border-radius: 6px;
  white-space: nowrap;
}

.table-wrapper {
  overflow-x: auto;
}

.transaction-table .ant-table-thead > tr > th {
  background-color: #f9f9f9;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;
  font-size: 13px;
  letter-spacing: 0.3px;
}

.transaction-table .ant-table-tbody > tr:hover > td {
  background-color: #fafafa;
}

.gear-button {
  border: none;
  color: #595959;
}

.transaction-search-input {
  flex: 1;
  min-width: 250px;
  max-width: 400px;
  height: 40px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .transaction-header {
    flex-direction: column;
    align-items: stretch;
  }

  .add-buttom {
    align-self: flex-end;
    width: 100%;
    justify-content: center;
  }

  .ant-table {
    font-size: 0.75rem;
  }

  .transaction-container {
    padding: 0.75rem;
  }
}
